.MathJax_CHTML{
	outline: 0;
}

body{
	background-color: #eee;
	padding-bottom: 10px;
}

p, li{
	font-size: 120%;
}

p{
	text-indent: 2em;
}

#body>h6{
	font-weight: bold;
	font-size: 20px;
	counter-increment: num 1;
}

#body>h6:not(:first-of-type){
	margin-top: 50px;
}

#body>h6:before{
	content: counter(num) ". ";
}

div.example{
	border: 1px solid black;
	border-radius: 16px;
	padding-left: 5px;
	padding-right: 5px;
}

div.example>h6:first-child{
	font-weight: bold;
	font-size: 16px;
}